{% extends 'basew3.html' %}

{% block content %}
    <body>

        <div class="w3-container">
            {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert-success">
                        {{message}}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert-error">
                        {{message}}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert-info">
                        {{message}}
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="w3-container w3-teal">
            <h2 class="title">Hola hola maquinola</h2>
        </div>
        <div class="">
            <div class="w3-bar w3-center w3-dark-grey w3-border w3-border-dark-grey">
                <a class="w3-button w3-xlarge w3-bar-item material-icons" href="/" >home</a>
                {% if user.is_authenticated %}
                    <a class="w3-button w3-large w3-bar-item" href="/list">See ToDo List</a>
                    <a class="w3-button w3-large w3-bar-item" href="/grid_list">See Grid</a>
                    <a class="w3-button w3-large w3-bar-item" href="/logout">Log Out</a>
                {% else %}
                    <a class="w3-button w3-large w3-bar-item" href="/register">Registrarse</a>
                    <a class="w3-button w3-large w3-bar-item" href="/login">Log In</a>
                {% endif %}
            </div>
            <div class="w3-sidebar w3-left w3-bar-block" style="width:16%">
                {% for lesson in lessons %}
                    <h5 class="w3-bar-item">{{lesson.title}}</h5>
                    {% for number in lesson.numbers %}
                        <a class="w3-bar-item w3-button" href="{% url 'study' language=lesson.section number=number.8 hide='1' %}">{{number}}</a>
                    {% endfor %}
                {% endfor %}
                <br>
                <br>
                <br>
                <br>
                <hr>
            </div>
            <!-- EXPLANATION OF EVERYTHING -->
            <div class="w3-container" style="margin-left:16%; margin-top:1%">
                <h1>Explicación de la página:</h1>
                <!-- GENERAL -->
                <div class="w3-panel w3-pale-blue w3-large">
                    <strong>General: </strong>El estilo de la página esta hecho con W3, excepto Registro/Login/ToDo List,
                    que estan hechos con un Style propio en CSS, solo con el afan de practicar CSS.
                    Además considerar que la pagina esta hecha con PostgreSQL para guardar a los usuarios registrados, y sus listas ToDo y Grid.
                    Mientras que el material de estudio de Alemán e Inglés solo esta guardado como diccionario en el código.
                </div>
                <!-- REGISTER/LOGIN/LOGOUT -->
                <div class="w3-panel w3-pale-green w3-large">
                    <strong>Register/Login/Logout: </strong>Como intuitivamente se puede apreciar cumplen el rol de Registrar un usuario,
                    logiarlo en la pagina, y las opciones se muestras correspondiente a si el usuario esta logiado o no.
                </div>
                <!-- ToDo List -->
                <div class="w3-panel w3-pale-yellow w3-large">
                    <strong>To Do List: </strong>Permite almacenar un texto corto, que además da la opción si este texto puede ser publico o privado.
                    Los textos puclicos pueden ser vistos por cualquier usuario logiado, mientras que los privados solo
                    por quien los ingreso.
                    Además esta la opción de eliminar de la base de datos cualquier texto ingresado por el mismo
                    usuario que lo creo.
                </div>
                <!-- Grid -->
                <div class="w3-panel w3-pale-red w3-large">
                    <strong>Grid: </strong>Se puede almacenar productos o servicios, con sus precios y un link de donde encontrarlos. Esto se almacena
                    en una base de datos PostgreSQL, y cada informacion es publica, pero solo puede eliminarla el usuario que la ingreso.
                    Además permite modificar la informacion, esto por cualquier usuario, y esta una barra de busqueda configurada con trigram para buscar.
                </div>
                <!-- GERMAN/ENGLISH STUDY -->
                <div class="w3-panel w3-sand w3-large">
                    <strong>German/English study Sidebar: </strong>La sidebar permite selecionar lecciones para estudiar memorizacion de palabras
                    en distintos idiomas, estas listas tienen la opcion de evaluar si son correctos los resultados y saber las respuestas correctas.
                    Cabe destacar que estas palabras y sus respuestas se encuentran en el codigo y no en una base de datos.
                </div>
            </div>
        </div>
    </body>
{% endblock %}