{% extends 'base.html' %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert-success">
                {{message}}
            </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert-error">
                {{message}}
            </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert-info">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">

        {% csrf_token %}

        <label>Ingrese su usuario:</label>
        <input type="text" name="username" placeholder="Nombre de usuario..."><br>
        <label>Ingrese su contraseña:</label>
        <input type="password" name="password" placeholder="Contraseña..."><br>
        <input type="submit" class="boton" value="Log In">

    </form>
{% endblock %}